html{
  /*background-color: #000000;*/
  background-image: url("../images/kitchen_background.jpg");
  background-position: center;
}

header{
  background-color:#000;
  opacity: .9;
  width: 50%;
  margin: 40px auto;
  padding: 10px;
  border-radius: 10px;
  margin-top: 250px;
}
p{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Imprima', sans-serif;
}

h1{
  color: #fff;
  margin: 10px auto;
  width: 310px;
  border-radius: 10px;
  font-family: 'Catana One', serif;
}

h2{
  color: #fff;
  width: 100px;
  margin: 10px auto;
  font-family: 'Catana One', serif;
}

h4{
  width: 400px;
  margin: 20px auto;
  color: #FFF;
  text-align: center;
}

h5{
  font-size: 50px;
  margin: 10px auto;
  color: #cc0000;
  width: 500px;
  font-family: 'Catana One', serif;

}

hr{
  width: 50%;
  background-color: #4c0000;
}
img{
  height: 200px;
  width: 200px;
  margin: 0px auto;
}

input{
  outline-width: 0;
  margin-left: 15%;
  width: 260px;
  /*border-radius: 5px;*/
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#fridgeIngredients{
  text-align: center;
}

#ingredientSubmit{
  margin-top: 40px;
  margin-left: 35%;
  width: 100px;
}

.fridgeStuff{
  padding: 20px;
  margin: 50px auto;
  width: 400px;
  height: auto;
  /*background-color: lightblue;*/
  border-radius: 10px;
  /*border: solid lightblue 2px;*/
}

#fridgeItems{
  margin-left: 20px;
}


#findRecipes{
  margin-left: 25%;
}

li{
  list-style-type: none;
  border: blue solid 2px;
  text-align: center;
  width: 260px;
}


.recipes{
  padding-top: 20px;
  text-align: center;
  margin: 10px auto;
  width: 90%;
  background-color: #000;
  /*border: solid lightblue 2px;*/
  height: auto;
  color: #fff;
  border-radius: 10px;
  visibility: hidden;
}

/*#recipeTitle{
  width: auto;
  font-size: 10px;
  display: inline-block;
  word-wrap: break-word;
  height: auto;
}*/

#recipeTitle{
  padding: 20px;
  margin: 0 auto;
  width: 200px;
  position: relative;
  display: inline-block;
}

#recipeTitle:hover{
  background-color: #323232;
  border-radius: 10px;
  /*border: double 1px #464646;*/
  box-shadow: inset 0 0 10px #000000;
  width: 80%;

}
/*Working on grid layout with Masonary*/
#results {
  height: auto;
  width: auto;
  margin: 20px;
  /* Prevent vertical gaps */
  /*line-height: 0;*/
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;

}
#recipe{
  margin: 10px auto;
  width: auto;
  font-family: 'Imprima', sans-serif;
}

#results p{
  height: auto;
  color: #FFF;
}

#clearResults{
  margin-bottom: 20px;
  visibility: hidden;
}

button{
  color: white;
  background: #000;
  border: solid 2px white;
  border-radius: 5px;
  font-family: 'Catana One', serif;
  letter-spacing: 1.5px;

}

#results img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  border-radius: 10px;
  margin: 10px auto;
}

@media (max-width: 1200px) {
  #results {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #results {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #results {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #results {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/*
.resultsDisplay{
  display: inline-block;
}*/
