html{
  background-color: #000;

}


h1{
  color: #E7F0FF;
  margin: 100px auto;
  width: 300px;
}

h4{
  width: 400px;
  margin: 20px auto;
  color: #FFF;
  text-align: center;

}
img{
  height: 200px;
  width: 200px;
}

input{
  margin-left: 15%;
  width: 200px;
}

#ingredientSubmit{
  margin-left: 10px;
}

.fridgeStuff{
  padding: 50px;
  margin: 50px auto;
  width: 400px;
  /*background-color: lightblue;*/
  border-radius: 10px;
  border: solid lightblue 2px;
}

#fridgeItems{
  margin-left: 20px;
}


#findRecipes{
  margin-left: 25%;
}

li{
  list-style-type: none;
  border: blue solid 2px;
  text-align: center;
  width: 260px;
}


.recipes{
  text-align: center;
  margin: 10px auto;
  width: auto;
  /*background-color: lightblue;*/
  border: solid lightblue 2px;
  height: auto;
  border-radius: 10px;
  color: #fff;
}

/*#recipeTitle{
  width: auto;
  font-size: 10px;
  display: inline-block;
  word-wrap: break-word;
  height: auto;
}*/

/*Working on grid layout with Masonary*/
#results {
  margin: 20px;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#results p{
  height: auto;
  word-wrap: break-word;
  width: 13em;
  /*display: inline-block;*/
}

#results img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
/*
.resultsDisplay{
  display: inline-block;
}*/
